*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
    

}

.container{
    width:80%;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px (rgba 0, 0, blue, alpha);
}

h1{
    color: #333;
    margin-bottom: 20px;
}

#recordBtn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    border-radius: 5px;
    color: aliceblue;
    border: none;
}

#recordBtn.recording{
    background-color: red; 
}

#transcript{
    margin: 20px 0;
    padding: 15px;
    min-height: 150px;
    background-color: #f9f9f9;
    border: 1px solid;
    border-radius: 5px;
    overflow-y: auto;
    font-size: 16px;
    color: #333;
}

.controls button{
margin:10px 5px;
padding: 8px 15px;
border: none;
cursor: pointer;
border-radius: 5px;
color: #fff;
}

#copyBtn{
    background-color: rgb(30, 30, 139);


}
#saveBtn{
    background-color: #333;
}

#clearBtn{
    background-color: darkorange;
}